<div class="container">
<dashboard></dashboard>
<div class="search-add">
  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <button mat-raised-button class="add-btn" routerLink="/addPlayer">Add New Player</button>
</div>
<table mat-table *ngIf="players" [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Player Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Player </th>
      <td mat-cell *matCellDef="let player"> {{player.name}} </td>
    </ng-container>
  
    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let player"> {{player.rank}} </td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let player"> {{player.score}} </td>
    </ng-container>
  
    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let player"> {{player.time}} </td>
    </ng-container>

    <!-- Favorite Game Column -->
    <ng-container matColumnDef="favoriteGame">
        <th mat-header-cell *matHeaderCellDef> Favorite Game </th>
        <td mat-cell *matCellDef="let player"> {{player.favoriteGame}} </td>
    </ng-container>

      <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let player"> {{player.status=='1' ? "Available" : "Unavailable"}} </td>
    </ng-container>

      <!-- Actions Column -->
    <div *ngIf="errName">{{err.Name}}</div>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let player">
            <button mat-button color="primary" routerLink="/updatePlayer/{{player._id}}">Update</button>
            <button mat-button color="warn" (click)="deletePlayer(player._id)">Delete</button>
            <!-- <div *ngIf="User.role=='User'"> -->
              <button *ngIf="player.status=='0'" mat-button color="warn" routerLink="/joinGame/{{player._id}}">Join Game</button>
            <!-- </div> -->
        </td>
        <!-- <div *ngIf="User.role=='Admin'">
          <td><button mat-button color="warn">Update</button></td>
          <td><button mat-button color="warn">Delete</button></td>
        </div> -->
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
</div>   