<div class="container">
<div class="form">
    <div class="row">
        <div class="col-md-12">
            <h2>Administrator Login</h2>
        </div>
    </div>
    <div class="row">
        <form class="col-md-12">
        <div class="form-group">
            <div *ngIf="errMsg">{{errMsg}}</div>
            <label for="username">Username</label>
            <input class="form-control" [(ngModel)]="user.username" name="username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" />
        </div>
        <button mat-raised-button color="primary" (click)="login(user)">Login</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>    
    </form>
    </div>
</div>
</div>
      
