@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.form {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
}

.log-btn {
    float: right;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.search {
    width: 70%;
}

.add-btn {
    align-content: right; 
    height: 40px;   
}

.search-add{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 
.cancel-btn {
    margin-left: 5px;
} */

